body {
  background-color: #f7f9fc;
  color: #575f7d;
  font-family: "Lora", serif;
  font-size: 17px;
  font-weight: lighter;
  line-height: 1.8;
  
  background: #3e5151; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #decba4, #3e5151); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #decba4, #3e5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: 700%;
  animation: bg-animation 25s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #3e5151;
}

::selection {
  color: white;
  background: #178e68e4;
}

.container {
  width: 90%;
  max-width: 700px;
  margin: 40px auto;
}

@media (max-width: 960px) {
  .container {
    width: 90%;
    max-width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 90%;
    max-width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 90%;
    max-width: 400px;
  }
}

@media (max-width: 360px) {
  .container {
    width: 95%;
    max-width: 300px;
  }
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #575f7d;
  font-size: 32px;
  font-weight: 900;
}

h2 {
  font-size: 20px;
  color: #6d8b74;
  font-weight: 500;
  font-size: 23px;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #94b3fd;
  font-weight: 600;
  font-size: 16px;
}

.white-card {
  text-align: center;
  background-color: white;
  border-radius: 6px;
  padding: 30px 20px;
  margin: 20px 0;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.221);
}

@media (max-width: 540px) {
  .white-card {
    padding: 20px 15px;
  }
}

.circle-img {
  height: 200px;
  border-radius: 50%;
  width: 200px;
  object-fit: cover;
}

@media (max-width: 540px) {
  .circle-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
}

.btn-blue {
  color: white;
  background-color: #655d8a;
  padding: 15px 20px;
  border-radius: 4px;
  display: inline-block;
  margin-top: 20px;
}

.btn-blue:hover {
  background-color: black;
  transition: ease-in 0.15s;
}

.inline-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.inline-list i {
  font-size: 50px;
  color: rgb(138, 138, 138);
  padding: 0 10px;
}

.inline-list i:hover {
  color: black;
  transition: ease-in 0.1s;
}

p {
  margin-bottom: 40px;
  font-size: 1rem;
}

@media (max-width: 540px) {
  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 0.9rem;
  }

  .btn-blue {
    padding: 10px 15px;
    font-size: 14px;
  }

  .inline-list i {
    font-size: 40px;
  }
}
